.link {
  text-decoration: none;
}

.favorite {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-block;
  border: #69696954 1px solid;
  border-radius: 2px;
  padding: 2px 3px;
  background-color: #00000010;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body {
  max-width: 700px;
  overflow-wrap: "anywhere";
}
